<div id="content">

    <ul id="list" role="list"
        class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-8 ring-gray-900/4 sm:rounded-xl">

        <li class="px-4 py-5 sm:px-6">
            <div class="text-center text-3xl font-bold">
                Would you like to play again?
            </div>
        </li>

        <li class="px-4 py-5 sm:px-6">
            <div class="text-center text-3xl font-bold">
                <a href="/releases/v/0100/">
                    <button
                        class="rounded-md bg-white m-2 px-3.5 py-2.5 text-3xl font-bold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 uppercase">
                        Main Menu
                    </button>
                </a>

                <a href="/releases/v/0100/play">
                    <button
                        class="rounded-md bg-white m-2 px-3.5 py-2.5 text-3xl font-bold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 uppercase">
                        Play Again
                    </button>
                </a>
            </div>
        </li>
    </ul>
</div>
